body {
    display: flex;
    align-items: center; justify-content: center;
    flex-direction: column;
}

#container {
    height: 600px; width: 600px;
    display: flex;
    border: 1px dotted grey;
    flex-wrap: wrap;
    padding: 0px;
    margin-top: 10px;
}

#container div{
    box-sizing: border-box;
    border: none;
}
