body {
    display: flex;
    align-items: center; justify-content: center;
    flex-direction: column;
}

#container {
    height: 600px; width: 600px;
    display: flex;
    border: 1px dotted grey;
    flex-wrap: wrap;
    padding: 0px;
}

#container div{
    flex-basis: calc(100% / 16);
    height: calc(100% / 16);
    box-sizing: border-box;
    border: 1px solid gray;
}
